
# exclude files and folders relating to my RStudio project:

.Rproj.user
.Rhistory
.RData
.Rprofile
HYPEtools.Rproj
.Rbuildignore
src/obsfile_handling.o
src/obsfile_handling.obj
src/obsfile_handling.lib
src/obsfile_handling.exp
src/obsfile_handling.dll
src/HYPEtools.dll
src/HYPEtools.so
src-i386
src-x64
.gitignore
