
# exclude files and folders relating to my RStudio project:

.Rproj.user
.Rhistory
.RData
.Rprofile
HYPEtools.Rproj
.Rbuildignore
CRAN-SUBMISSION
src/*
!src/*.f90
src-i386
src-x64
inst/doc
/doc/
/Meta/
!vignettes/*.Rmd
vignettes/*
