
# exclude files and folders relating to my RStudio project:

.Rproj.user/
.Rhistory
.RData
script_package_dev.R
RHYPE.Rproj
.Rbuildignore
roxygen_template.txt
src/obsfile_handling.o
src/obsfile_handling.obj
src/obsfile_handling.lib
src/obsfile_handling.exp
src/obsfile_handling.dll
src/RHYPE.dll
src-i386
src-x64
.Rproj.user
