export(AllDownstreamSubids)
export(AllUpstreamSubids)
export(BoxplotSLClasses)
export(CleanSLClasses)
export(ConvertDischarge)
export(DirectUpstreamSubids)
export(ExtractFreq)
export(GroupSLCClasses)
export(MergeXobs)
export(OutletIds)
export(PlotDurationCurve)
export(PlotMapOutput)
export(ReadBasinOutput)
export(ReadBranchData)
export(ReadCropData)
export(ReadGeoClass)
export(ReadGeoData)
export(ReadLakeData)
export(ReadMapOutput)
export(ReadPTQobs)
export(ReadPar)
export(ReadPmsf)
export(ReadTimeOutput)
export(ReadXobs)
export(SumSLClasses)
export(SumUpstreamArea)
export(UpstreamObs)
export(UpstreamSLCClasses)
export(WriteBasinOutput)
export(WriteBranchData)
export(WriteGeoClass)
export(WriteGeoData)
export(WriteLakeData)
export(WritePTQobs)
export(WritePar)
export(WritePmsf)
export(WriteTimeOutput)
export(WriteXobs)
import(pbapply)
import(sp)
useDynLib(RHYPE,count_data_cols)
useDynLib(RHYPE,count_datestring_len)
useDynLib(RHYPE,count_rows)
useDynLib(RHYPE,wmean)
